boto3==1.34.72
flask==3.0.3
Flask-Cors==4.0.1
Flask-Migrate==4.0.7
flask-sqlalchemy==3.1.1
heimdall-tools==1.2.2
influxdb-client==1.43.0
mysql-connector-python==8.3.0
python-dotenv==1.0.1
redis==5.0.4
requests==2.31.0
hvac==2.3.0
